{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    <img src="https://robohash.org/{{ app.user.username }}?size=126x126" alt="Avatar de {{ app.user.username }}"/>
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.username | capitalize }}</p>
                </div>
            </div>
        </div>
        <div class="dash-line-2">
            Hello world
        </div>
    </div>
{% endblock %}
