{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include "dashboard/layout/components/loader.html.twig" %}

    {% set menu = [
        {
            'path': path('app_homepage'),
            'label': 'Accueil',
            'name': 'accueil'
        },
        {
            'dropdown': true,
            'label': 'Dropdown',
            'items': [
                {
                    'path': path('app_homepage'),
                    'label': 'Item 1',
                    'name': 'item-2'
                },
                {
                    'path': path('app_homepage'),
                    'label': 'Item 2',
                    'name': 'item-2'
                }
            ]
        }
    ] %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% set menuLogged = [
            {
                'path': path('app_login'),
                'label': 'Mon espace',
                'name': 'login'
            },
            {
                'path': path('app_logout'),
                'label': 'Déconnexion',
                'name': 'logout'
            }
        ] %}
        {% set menu = menu | merge(menuLogged) %}
    {% else %}
        {% set menuLogged = [
            {
                'path': path('app_login'),
                'label': 'Mon espace',
                'name': 'login'
            }
        ] %}
        {% set menu = menu | merge(menuLogged) %}
    {% endif %}

    <div class="body">
        <nav class="fixed">
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-header-logo">
                        <a href="{{ path("app_homepage") }}">
                            <img src="{{ asset('build/dashboard/images/logilink-logo.svg') }}" alt="Logo du site">
                        </a>
                    </div>
                </div>
                <div id="menu" data-menu="{{ menu | json_encode }}"></div>
            </div>
        </nav>

        <main>

            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% include "app/layout/components/footer.html.twig" %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}