{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include "dashboard/layout/components/loader.html.twig" %}

    <div class="body">
        <nav>
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-header-logo">
                        <a href="{{ path("app_homepage") }}">
                            <img src="{{ asset('build/dashboard/images/logilink-logo.svg') }}" alt="Logo du site">
                        </a>
                    </div>
                </div>
                <div class="nav-mobile">
                    <span class="icon-menu"></span>
                </div>
                <div class="nav-body">
                    <div class="items">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="item">
                                <a rel="nofollow" href="{{ path('app_login') }}">
                                    <span>Mon espace</span>
                                </a>
                            </div>
                            <div class="item">
                                <a rel="nofollow" href="{{ path('app_logout') }}">
                                    <span>Déconnexion</span>
                                </a>
                            </div>
                        {% else %}
                            <div class="item">
                                <a rel="nofollow" href="{{ path('app_login') }}">
                                    <span>Mon espace</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <main>

            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% include "app/layout/components/footer.html.twig" %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}