{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_user') }}
{% endblock %}

{% block main_content %}
    <div id="user" data-donnees="{{ donnees }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard_user') }}
{% endblock %}