{% extends 'app/layout/layout.html.twig' %}

{% block title %}{{ elem.title }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#    {{ encore_entry_link_tags('contact') }}#}
{% endblock %}

{% block main_content %}
    <div class="title-page title-page-news-read">
        <p class="date">Publié le {{ elem.createAtStringLong }}</p>
        <h1 data-aos="fade-right">{{ elem.title }}</h1>
    </div>

    <div class="main-content">
        <div class="default-page">
            <div class="page-news-read">
                <div class="article">
                    <div class="image">
                        <img class="lozad" data-src="{{ asset('articles/' ~ elem.file) }}" alt="illustration news">
                    </div>

                    <div class="intro">
                        {{ elem.introduction | raw }}
                    </div>

                    <div class="content">
                        {{ elem.content | raw }}
                    </div>
                </div>
                {% if articles | length > 0 %}
                    <div class="other-news">
                        <h2>Voir d'autres articles</h2>
                        <div class="news">
                            {% for article in articles %}
                                <a href="{{ path('app_actualites_read', {'slug': article.slug}) }}" class="card" data-aos="fade-down" data-aos-delay="0">
                                    <div class="card-header">
                                        <div class="subtitle">{{ article.createAtStringLong }}</div>
                                        <div class="title">{{ article.title }}</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="image">
                                            <img class="lozad" data-src="{{ asset('articles/' ~ article.file) }}" alt="illustration news">
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#    {{ encore_entry_script_tags('contact') }}#}
{% endblock %}