{% extends 'app/layout/layout.html.twig' %}

{% block title %}Connexion à son espace{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Se connecter</h1>

        <form method="post" class="form-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

           <div class="line">
               <label for="inputUsername">Nom utilisateur</label>
               <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
           </div>
            <div class="line">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="form-button">
                <button class="btn btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('security') }}
{% endblock %}