{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    {% if app.user.avatar %}
                        <img src="{{ asset('avatars/' ~ app.user.avatar) }}" alt="Avatar de {{ app.user.username }}">
                    {% else %}
                        <img src="https://robohash.org/{{ app.user.username }}?size=126x126" alt="Avatar de {{ app.user.username }}"/>
                    {% endif %}
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.firstname | capitalize }}</p>
                </div>
            </div>
            <div class="dash-line-1-col-2">
                <div class="dash-card-1">
                    <div class="icon">
                        <span class="icon-settings"></span>
                    </div>
                    <div class="title">Paramètres du site</div>
                    <div>
                        {% if settings %}
                            <div>{{ settings.websiteName }}</div>
                            <div>{{ settings.emailContact }}</div>
                        {% else %}
                            <a class="maj-settings" href="{{ path('admin_settings_index') }}">
                                <span class="icon-warning"></span>
                                Veuillez mettre à jour les paramètres du site.
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="dash-card-1">
                    <div class="icon">
                        <span class="icon-user"></span>
                    </div>
                    <div class="title">Qui s'est connecté ?</div>
                    <div class="number">{{ nbConnected }} / {{ totalUsers }}</div>
                </div>
            </div>
        </div>
{#        <div class="dash-line-2">#}
{#            #}
{#        </div>#}
    </div>
{% endblock %}
