{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Styleguide{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_styleguide') }}
{% endblock %}

{% block main_content %}
    {% set variantes = [ "default", "primary", "danger", "warning" ] %}
    <div class="main-content">
        <section>
            <h2>Boutons</h2>
            <div class="buttons-items">

                {% for variante in variantes %}
                    <button class="btn btn-{{ variante }}">{{ variante | capitalize }}</button>
                {% endfor %}

                <button class="btn btn-default">
                    <span class="icon-padlock"></span>
                    Defalut
                </button>

                <div class="btn-icon">
                    <span class="icon-pencil"></span>
                </div>

                <div class="btn-icon">
                    <span class="icon-pencil"></span>
                    Default
                </div>

            </div>
        </section>
        <section>
            <h2>Alerts</h2>
            <div class="alerts-items">
                {% for variante in variantes %}
                    <div class="alert alert-{{ variante }}">
                        <span class="icon-information"></span>
                        <p>{{ variante | capitalize }}</p>
                    </div>
                {% endfor %}
                <div class="alert alert-default">
                    <span class="icon-information"></span>
                    <p>
                        <span class="title">Title</span>
                        Default
                    </p>
                </div>
                <div class="alert alert-default">
                    <p>Default</p>
                </div>
                <div class="alert alert-default">
                    <p>
                        <span class="title">Title</span>
                        Default
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
