{% extends 'app/layout/layout.html.twig' %}

{% block title %}Marseille Métropole Volley Ball | M.M.V.B{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="main-header">
        <div class="main-header-title">
            <h1 data-aos="fade-right">Marseille Métropole Volley Ball</h1>
            <div class="main-header-body">
                <div class="main-news" data-aos="fade-right">
                    <div class="main-news-title">
                        <span>A la une !</span>
                    </div>
                    <div class="main-news-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur, assumenda commodi eius facere magni maxime minus
                            quisquam temporibus tenetur voluptatibus. Animi aut debitis eligendi
                            inventore minima pariatur repellat, repudiandae ullam.
                        </p>
                    </div>
                </div>
                <div class="main-socials">
                    <a href="" target="_blank" class="btn-icon">
                        <span class="icon-facebook"></span>
                        <span class="tooltip">Facebook</span>
                    </a>
                    <a href="" target="_blank" class="btn-icon">
                        <span class="icon-instagram"></span>
                        <span class="tooltip">Instagram</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-header-illustration">
            <div class="images">
                <img data-aos="fade-in" class="lozad" data-src="{{ asset('build/app/images/homepage.jpg') }}" alt="marseille métropole volley ball illustration">
            </div>
            {% include "app/layout/components/dots.html.twig" %}
        </div>
    </div>

    {% if articles | length > 0 %}
        <div class="news-container">
            <div class="news">
                {% for article in articles %}
                    <a href="{{ path('app_actualites_read', {'slug': article.slug}) }}" class="card" data-aos="fade-down" data-aos-delay="0">
                        <div class="card-header">
                            <div class="subtitle">{{ article.createAtStringLong }}</div>
                            <div class="title">{{ article.title }}</div>
                        </div>
                        <div class="card-body">
                            <div class="image">
                                <img class="lozad" data-src="{{ asset('articles/' ~ article.file) }}" alt="illustration news">
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="agenda-container">
        <div class="illustration" data-aos="fade-right">
            <div class="images">
                <img class="lozad" data-src="{{ asset('build/app/images/agenda.jpg') }}" alt="illustration agenda marseille volley">
            </div>
        </div>
        <div class="agenda" data-aos="fade-right">
            <h2>Agenda</h2>
            <div class="agenda-list">
                <div class="item">
                    <div class="date"><span class="icon-earth"></span>25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
                <div class="item">
                    <div class="date"><span class="icon-earth"></span>25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
                <div class="item">
                    <div class="date"><span class="icon-earth"></span>25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
            </div>
            {% include "app/layout/components/dots.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
