{% extends 'app/layout/layout.html.twig' %}

{% block title %}Marseille Métropole Volley Ball | M.M.V.B{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="main-header">
        <div class="main-header-title">
            <h1>Marseille Métropole Volley Ball</h1>
            <div class="main-header-body">
                <div class="main-news">
                    <div class="main-news-title">
                        <span>A la une !</span>
                    </div>
                    <div class="main-news-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur, assumenda commodi eius facere magni maxime minus
                            quisquam temporibus tenetur voluptatibus. Animi aut debitis eligendi
                            inventore minima pariatur repellat, repudiandae ullam.
                        </p>
                    </div>
                </div>
                <div class="main-socials">
                    <a href="" target="_blank">
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="" target="_blank">
                        <span class="icon-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-header-illustration">
            <div class="image">
                <img src="{{ asset('build/app/images/maintenance.svg') }}" alt="marseille métropole volley ball illustration">
            </div>
        </div>
    </div>

    <div class="news-container">
        <div class="news">
            <div class="card">
                <div class="card-header">
                    <div class="subtitle">25 septembre 2021</div>
                    <div class="title">Title news</div>
                </div>
                <div class="card-body">
                    <div class="image">
                        <img src="{{ asset('build/app/images/maintenance.svg') }}" alt="illustration news">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="subtitle">25 septembre 2021</div>
                    <div class="title">Title news</div>
                </div>
                <div class="card-body">
                    <div class="image">
                        <img src="{{ asset('build/app/images/maintenance.svg') }}" alt="illustration news">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="subtitle">25 septembre 2021</div>
                    <div class="title">Title news</div>
                </div>
                <div class="card-body">
                    <div class="image">
                        <img src="{{ asset('build/app/images/maintenance.svg') }}" alt="illustration news">
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="btn btn-primary">Voir toutes les actualités</a>
    </div>

    <div class="agenda-container">
{#        <div class="illustration">#}
{#            <div class="image">#}
{#                <img src="{{ asset('build/app/images/maintenance.svg') }}" alt="illustration agenda marseille volley">#}
{#            </div>#}
{#        </div>#}
        <div class="agenda">
            <h2>Agenda</h2>
            <div class="agenda-list">
                <div class="item">
                    <div class="date">25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
                <div class="item">
                    <div class="date">25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
                <div class="item">
                    <div class="date">25 sept 2021</div>
                    <div class="versus">Equipe 1 vs équipe 2</div>
                    <div class="location">A Marseille</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
